ca_key_name     = "CA_ffm"
config_path     = "~/fcgi/ffm-cc_gg32_com__443.config"
host_macro      = "ffm_host_ssl_cc"
port            = "443"
script_path     = "~/fcgi/ffm-cc_gg32_com__443.fcgi"
server_admin    = "christian.tanzer@gmail.com"
server_name     = "ffm-cc.gg32.com"
ssl_key_name    = "srvr1-gg32-com-2048"
