config_path     = "~/fcgi/ffm_gg32_com__443.config"
host_macro      = "gtw_host_ssl"
port            = "443"
script_path     = "~/fcgi/ffm_gg32_com__443.fcgi"
server_admin    = "christian.tanzer@gmail.com"
server_aliases  = "ffm.swing.co.at"
server_name     = "ffm.gg32.com"
ssl_key_name    = "srvr1-gg32-com-2048"
