addr_port       = "*:443"
host_macro      = "gtw_host_ssl"
server_name     = "ffm.gg32.com"
server_aliases  = "ffm.swing.co.at"
server_admin    = "christian.tanzer@gmail.com"
ssl_key_name    = "srvr1-gg32-com-2048"
script_path     = "~/fcgi/ffm_gg32_com__443.fcgi"
config_path     = "~/fcgi/ffm_gg32_com__443.config"
